beautifulsoup4
bs4
configparser
dateparser
feedparser
fuzzywuzzy
google-api-python-client
google-auth-oauthlib
gspread
httplib2
lxml
nltk
oauth2client
oauthlib
peewee
podcastparser
PyExifTool
pymarc
pywin32
regex
requests
requests-oauthlib
rosetta-sip-factory
tkinter
